---

---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --markdown-font-family: 'Noto Sans', 'Droid Sans', sans-serif;
    --markdown-font-family-serif: 'Noto Serif', 'Droid Serif', serif;
    --markdown-font-family-mono: 'Noto Sans Mono', 'Droid Mono', monospace;

    --markdown-font-variant: tabular-nums slashed-zero historical-forms no-common-ligatures no-discretionary-ligatures no-historical-ligatures;

    --vscode-editor-foreground: #cccccc;
    --highlight-background-color: hsl(0, 0%, 8%) !important;
    --table-border-color: gray;

    --external-link-color: #0077ee;
    --internal-link-color: #77b2ee;
    --logos-link-color: #509ee5;
    --zotero-link-color: red;

    --_-tag-color: fuchsia !important;
    --at-tag-color: orangered !important;
    --plus-tag-color: cyan !important;
    --dollar-tag-color: yellow !important;
    --tickler-tag-color: skyblue !important;
    --bible-tag-color: mistyrose !important;
    --lang-tag-color: khaki !important;
    --lang-tag-code-color: darkkhaki !important;
    --reading-tag-color: lightgray !important;
    --sport-tag-color: palegreen !important;
}

html,
body {
    font-family: var(--markdown-font-family);
    font-synthesis: weight style small-caps;
    font-variant: var(--markdown-font-variant);
    text-align: justify;
    text-justify: auto;
}

.hidden {
    display: none;
}

.inline {
    display: inline-block;
}

.withnext {
    break-after: avoid;
    -webkit-break-after: avoid;
}

.withprev {
    break-before: avoid;
    -webkit-break-before: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
p b.h,
p i.h {
    break-after: avoid;
    -webkit-break-after: avoid;
    page-break-after: avoid;
}

h1 {
    color: hsla(var(--vscode-editor-foreground), 1.21);
    font-size: 2rem;
}

h2 {
    color: hsla(var(--vscode-editor-foreground), 1.18);
    font-size: 1.85rem;
    padding-left: 0.25rem;
}

h2 {
    padding-inline-start: 0.25rem;
}

h3 {
    color: hsla(var(--vscode-editor-foreground), 1.15);
    font-size: 1.70rem;
    padding-left: 0.50rem;
}

h3 {
    padding-inline-start: 0.50rem;
}

h4 {
    color: hsla(var(--vscode-editor-foreground), 1.12);
    font-size: 1.55rem;
    padding-left: 0.75rem;
}

h4 {
    padding-inline-start: 0.75rem;
}

h5 {
    color: hsla(var(--vscode-editor-foreground), 1.09);
    font-size: 1.40rem;
    padding-left: 1.00rem;
}

h5 {
    padding-inline-start: 1.00rem;
}

h6 {
    color: hsla(var(--vscode-editor-foreground), 1.06);
    font-size: 1.25rem;
    padding-left: 1.25rem;
}

h6 {
    padding-inline-start: 1.25rem;
}

p b.h,
p i.h {
    color: hsla(var(--vscode-editor-foreground), 1.03);
    font-size: 1.10rem;
    padding-left: 1.50rem;
}

p b.h,
p i.h {
    padding-inline-start: 1.50rem;
}

blockquote {
    background-color: var(--highlight-background-color);
    border-color: var(--highlight-background-color);
}

pre,
code {
    text-align: left;
}

pre,
code {
    text-align: start;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

table {
    display: table;
    border-collapse: collapse;
    width: inherit;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

tr {
    display: table-row;
}

th,
td {
    display: table-cell;
}

table,
th,
td {
    font-variant: var(--markdown-font-variant);
    vertical-align: top;
    font-size: inherit;
    break-inside: avoid;
    page-break-inside: avoid;
}

table.box,
table.border,
table.borderless,
.mermaid {
    width: 100%;
}

table.box {
    border-style: solid;
    border-width: 1px;
    border-color: var(--table-border-color);
}

table.border {
    border-style: inset;
    border-width: 1px;
    border-color: var(--table-border-color);
}

table.border th,
table.border td {
    border-style: outset;
    border-width: 1px;
    border-color: var(--table-border-color);
}

table.borderless,
table.borderless tr,
table.borderless th,
table.borderless td {
    border-style: none;
    border-width: 0;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.two-thirds {
    width: 67%;
}

.quarter {
    width: 25%;
}

.sixth {
    width: 17%;
}

a:any-link {
    text-decoration: none;
}

a:not([href]) {
    color: inherit;
}

a[href] {
    color: var(--external-link-color);
}

a[href^="."],
a[href^="#"] {
    color: var(--internal-link-color);
}

a[href^="logosres:"],
a[href^="logos4:"],
a[href^="https://ref.ly/logosres/"],
a[href^="https://ref.ly/logos4"] {
    color: var(--logos-link-color);
}

a[href^="zotero:"],
a[href^="https://www.zotero.org/af4jm"],
a[href="#"] {
    color: var(--zotero-link-color);
}

a[href^="."][href*="/tag/"]:not([href$="tag/README.md"]) {
    display: inline-block;
    padding: 0 .5em;
    border-radius: 1em;
    border-style: solid;
    border-width: 2px;
}

a[href^="."][href*="/tag/_"] {
    color: var(--_-tag-color);
}

a[href^="."][href*="/tag/@"] {
    color: var(--at-tag-color);
}

a[href^="."][href*="/tag/+"] {
    color: var(--plus-tag-color);
}

a[href^="."][href*="/tag/$"],
a[href^="."][href*="/tag/to_"],
a[href^="."][href*="/tag/in_progress"],
a[href^="."][href*="/tag/_tickler"] {
    color: var(--dollar-tag-color);
}

a[href^="."][href*="/tag/jesus/bible/"] {
    color: var(--bible-tag-color);
}

a[href^="."][href*="/tag/lang/"]:not([href$="lang/README.md"]) {
    color: var(--lang-tag-color);
}

a[href^="."][href*="/tag/lang/"]:not([href$="lang/README.md"]) code {
    color: var(--lang-tag-code-color);
    background-color: inherit !important;
}

a[href^="."][href*="/tag/jesus/logos"],
a[href^="."][href*="/tag/kindle"] {
    color: var(--reading-tag-color);
}

a[href^="."][href*="/tag/sport/football/"]:not([href$="football/README.md"]),
a[href^="."][href*="/tag/sport/motor/"]:not([href$="motor/README.md"]):not([href$="motor/enduro.md"]):not([href$="motor/local.md"]),
a[href^="."][href*="/tag/sport/soccer/"]:not([href$="soccer/README.md"]) {
    color: var(--sport-tag-color);
}

*[lang]:not(:lang(en)) {
    font-family: var(--markdown-font-family-serif);
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* italics inside of italics should not be italicized */
*[lang] cite,
*[lang] dfn,
*[lang] em,
*[lang] i,
cite *[lang],
cite cite,
cite dfn,
cite em,
cite i,
dfn *[lang],
dfn cite,
dfn dfn,
dfn em,
dfn i,
em *[lang],
em cite,
em dfn,
em em,
em i,
i *[lang],
i cite,
i dfn,
i em,
i i {
    font-style: normal;
}

/* non-Latin characters: no italics, larger */
:lang(akk),
:lang(ara),
:lang(arc),
:lang(cop),
:lang(egy),
:lang(el),
:lang(elx),
:lang(gez),
:lang(grc),
:lang(hbo),
:lang(he),
:lang(hit),
:lang(peo),
:lang(phn),
:lang(sux),
:lang(syc),
:lang(uga) {
    font-style: inherit !important;
    font-size: larger;
}

abbr,
.dim {
    filter: brightness(75%);
}

.Bible abbr {
    filter: none !important;
}

abbr code {
    color: inherit;
}

abbr[title] math,
abbr[title] span.math,
abbr[title] span.katex,
[data-link] {
    text-decoration: underline dotted;
}

code,
kbd,
pre,
samp,
var,
abbr.lang {
    font-family: var(--markdown-font-family-mono);
}

.Bible {
    font-family: var(--markdown-font-family-serif);
    filter: brightness(110%);
}

.caps {
    font-variant-caps: small-caps;
}

.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}

.strike {
    text-decoration: line-through;
}

.left {
    text-align: left;
}

.left {
    text-align: start;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.right {
    text-align: end;
}

.middle {
    vertical-align: middle;
}

.floatstart {
    float: left;
    margin-right: 1em;
}

.floatstart {
    float: inline-start;
    margin-inline-end: 1em;
}

.floatend {
    float: right;
    margin-left: 1em;
}

.floatend {
    float: inline-end;
    margin-inline-start: 1em;
}

.clearl {
    clear: left;
}

.clearl {
    clear: inline-start;
}

.clear {
    clear: both;
}

.clearr {
    clear: right;
}

.clearr {
    clear: inline-end;
}

.under {
    text-decoration: underline;
}

.over {
    text-decoration: overline;
}

.invert {
    background-color: White;
    display: block;
}

.circle,
.square {
    display: inline-block;
    padding-inline: 0;
    padding-block: 1px;
    border-style: solid;
    border-width: 1px;
}

.circle {
    border-radius: 1em;
}

.nowrap {
    white-space: nowrap;
}

.avoidbreak {
    break-inside: avoid;
}

.columns {
    column-gap: 0;
    column-rule-style: none;
}

.columnsRuled {
    column-gap: normal;
    column-rule-style: solid;
    column-rule-width: thin;
}

ul.default {
    list-style-type: disc;
}

ul.check,
ol.check,
li.check,
li.todo,
li.done,
li.cancel {
    list-style-type: none;
}

li.todo::before {
    content: "☐ ";
}

li.done::before {
    content: "🗹 ";
}

li.cancel::before {
    content: "☒ ";
}

ol.decimal,
li.decimal {
    list-style-type: decimal;
}

ol.roman,
li.roman {
    list-style-type: upper-roman;
}

ol.upper,
li.upper {
    list-style-type: upper-alpha;
}

ol.lower,
li.lower {
    list-style-type: lower-alpha;
}

ol.greek,
li.greek {
    list-style-type: lower-greek;
}

ol.hebrew,
li.hebrew {
    list-style-type: hebrew;
}
